.Special-Text {
  color: #BB86FC;
}

.row {
  align-items: center;
}

.socials {
  display: flex;
  justify-content: flex-start;
}

.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card{
  background: none;
}

.img-crypto, .img-fluid {
  width: 30%;
  height: auto;
}

/* .crypto is for images */
.crypto{
  display: flex;
  justify-content: space-evenly;
}

.mb-3 {
  padding: 25px;
  margin-top: 100px;
}

.accordion{
  background: none;
}

.card {
  background: none;
}

li {
  list-style-type: none;
}

.click-for-more{
  background: none;
  outline: none;
  border: none;
  padding: 0px;
  transition: all 1s ease-out;
}

.click-for-more:hover{
  border-bottom: 1px solid #BB86FC;
}

.fadeIn {
	animation: fadeIn 2s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}

.fadeInSlow{
  animation: fadeIn 2.7s;
  opacity: 1;
}

.introContainer{
  padding: 130px 130px 130px 130px;
}

.footerContainer{
  padding-top: 130px;
  padding-bottom: 130px;
  text-align: center;
}

.contactContainer {
  margin-top: 130px;
  padding-left: 0;
}

.flexCenter{
  display: flex;
  justify-content: space-around;
}

.workContainer{
  margin-bottom: 80px;
}

.tinyImg {
  width: 80px;
  height:auto;
}

/* CSS Media Queries */

@media only screen and (max-width: 425px) {
  /* For mobile phones: */
  .mb-3 {
    padding: 25px;
    margin-top: 10px;
  }
  h1 {
    font-size: 9vw;
  }
  
  h2 {
    font-size: 7.5vw;
  }
  
  h4, h3 {
    font-size: 7vw;
  }
  .socials {
    text-align: right;
    justify-content: flex-end;;
  }
  .contactCol {
    text-align: right;
  }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  /* For tablets: */
  .mb-3 {
    border-radius: 15px;
    padding: 25px;
    margin-top: 80px;
  }
}

@media only screen and (min-width: 2560px) { 
  /* For desktops: */
  .container-fluid{
    padding: 125px;
  }
}

