:root {
  --darkThemeBackground: #121212;
  --darkThemeFontColor: #E2E2E2;
}

html{
  border-left: 2px solid white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkThemeBackground);
  color: var(--darkThemeFontColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 3.5vw;
}

h4, h3 {
  font-size: 3vw;
}

a, a:hover{
  color: #BB86FC;
}
